<%- include("header") -%>
    <div class="box" id="heading">
      <h1> <%= givenDay %> </h1>
    </div>

    <div class="box">
      <% nextItems.forEach(e =>{ %>
        <form class="" method="post" action="/delete">
        <div class="item">
          <input type="checkbox" name="checkbox" onchange="this.form.submit()" value="<%=e._id %>">
          <p> <%= e.name %> </p>
        </div>
        <input type="hidden" name="customlist" value="<%= givenDay %>">
      </form>
      <%}); %>
     
       

        <form class="item" action="/" method="post">
          <input type="text" name="listItem" placeholder="Enter Item" autofocus autocomplete="off">
          <button type="submit" name="send" value = <%= givenDay %> >+</button>
        </form>
    </div>
    <!-- <% if (givenDay === "Saturday" || givenDay === "Sunday"){ %>
      <h1 class="red" >Today is <%= givenDay %></h1>
    <% }else{ %>
      <h1 class="purple" >Today is <%= givenDay %></h1>
    <% } %> -->

<%- include("footer") -%>
